game-title {
    font-family: 'Racing Sans One';
    font-style: 'bold';
    color: white;
  }

h1 {
    font-family: 'Arial';
    color: white;
  }

h2 {
    font-family: 'Arial';
    color: white;
  }