game-title {
    font-family: 'Racing Sans One';
    font-style: 'bold';
    font-size:  160%;
    color: white;
  }

h1 {
    font-family: 'Verdana';
    color: white;
  }

h2 {
    font-family: 'Verdana';
    color: white;
    font-size:  100%;
  }

h3 {
    font-family: 'Verdana';
    color: white;
    font-size:  80%;
  }

a:link {
color: white;
background-color: transparent;
text-decoration: none;
}

a:visited, a:active {
color: pink;
background-color: transparent;
}

a:hover {
color: blue;
background-color: transparent;
text-decoration: underline;
}

.button, .button:link, .button:visited {
  border: 5px solid white;
  background-color: rgb(255, 150, 150);
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: 'Arial';
  font-size: 48px;
  margin: 4px 2px;
  cursor: pointer;
  table-layout: fixed;
  border-collapse: collapse;
  width: 30%;
}

.button:hover {
  background-color: rgb(177, 177, 234);
}

.button:active {
  background-color: purple;
}

.buttonSmall, .buttonSmall:link, .buttonSmall:visited {
  border: 5px solid white;
  background-color: rgb(255, 150, 150);
  color: black;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: 'Arial';
  font-size: 24px;
  margin: 4px 2px;
  cursor: pointer;
  table-layout: fixed;
  border-collapse: collapse;
  width: 10%;
}

.buttonSmall:hover {
  background-color: rgb(177, 177, 234);
}

.buttonSmall:active {
  background-color: purple;
}